<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Pok&eacute;Map Christchurch</title>
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" href="/touch-icon-iphone.png">
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57-precomposed.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72-precomposed.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114-precomposed.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-icon-57x57-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-icon-72x72-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-icon-114x114-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-icon-144x144-precomposed.png" />
  <link rel="icon" sizes="144x144" href="/apple-icon-144x144-precomposed.png" />
  <link rel="icon" sizes="192x192" href="/icon-192x192.png" />
  <link rel="apple-touch-icon" href="/icon.png" />


  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/flexboxgrid/dist/flexboxgrid.css" />
  <link rel="stylesheet" href="bower_components/angular-snap/angular-snap.css" />
  <link rel="stylesheet" href="bower_components/angular-ui-switch/angular-ui-switch.css" />
  <!-- endbower -->
  <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css" />
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

</head>

<body ng-app="ngApp" ng-controller="NavCtrl">
  <snap-dragger style="width:0;height:0"></snap-dragger>
  <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


  <!-- Add your site or application content here -->
  <div class="header">
    <div class="navbar navbar-default navbar-fixed-top" ng-class="{'server-down': serversAreDown}" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" snap-toggle="right">
          <i class="fa fa-filter"></i>&nbsp;Filter
        </button>
        <a class="navbar-brand middle-xs" href="#/"><img src="icon-36x36.png" class="pull-left" style="margin-top:-2px;max-height:25px" />&nbsp;Pok&eacute;Map Christchurch</a>
      </div>
    </div>
  </div>
  <div class="footer {{serverStatus}}">
    <div class="row middle-xs">
      <div class="col-xs-7 start-xs">
        <p><i class="fa fa-heartbeat" ng-class="{'text-danger': serverStatus === 'CRITICAL',
                             'text-warning': serverStatus === 'UNSTABLE',
                             'text-success': serverStatus === 'STABLE'}"></i> SERVERS: <strong>{{serverStatus}}</strong></p>
      </div>
      <div class="col-xs end-xs">
        <p>
          <button type="button" class="btn btn-default btn-sm" ng-disabled="geolocationTimeout()" ng-click="getMyLocation()" uib-tooltip="Unable to get your Location" tooltip-placement="top" tooltip-trigger="'outsideClick'" tooltip-popup-close-delay="1000" tooltip-popup-delay="0"
              tooltip-enable="geoLocationError">
            <i class="fa" ng-class="{'fa-location-arrow': !geoLocationInProgress && !geoLocationError,
                                    'fa-cog fa-spin': geoLocationInProgress,
                                    'fa-exclamation-triangle': !geoLocationInProgress && geoLocationError === true}"></i>&nbsp;Find Me
          </button>
        </p>
      </div>
    </div>
  </div>
  <div ui-view></div>
  <script type="text/ng-template" id="areaLimitExceededModal.html">
    <div class="modal-header">
      <h3 class="modal-title"><i class="fa fa-exclamation-triangle"></i>Danger</h3>
    </div>
    <div class="modal-body">
      <p>
        The maximum recommended number of active areas is 3. Exceeding this limit could lessen the experience and cause your battery to drain much faster.
        <strong>Are you sure you want to continue?</strong>
      </p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
      <button class="btn btn-danger" type="button" ng-click="ok()">Continue</button>
    </div>
  </script>
  <script src='//maps.googleapis.com/maps/api/js?key=AIzaSyBrKIantJrntUGd4L3CQ7pmmkJ-qUMFWxc'></script>

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
  <script src="bower_components/lodash/lodash.js"></script>
  <script src="bower_components/markerclustererplus/src/markerclusterer.js"></script>
  <script src="bower_components/google-maps-utility-library-v3-markerwithlabel/dist/markerwithlabel.js"></script>
  <script src="bower_components/google-maps-utility-library-v3-infobox/dist/infobox.js"></script>
  <script src="bower_components/google-maps-utility-library-v3-keydragzoom/dist/keydragzoom.js"></script>
  <script src="bower_components/js-rich-marker/src/richmarker.js"></script>
  <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/angular-moment/angular-moment.js"></script>
  <script src="bower_components/snapjs/snap.js"></script>
  <script src="bower_components/angular-snap/angular-snap.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/ngFuzzySearch/ngFuzzySearch.js"></script>
  <script src="bower_components/angularjs-geolocation/src/geolocation.js"></script>
  <script src="bower_components/ngstorage/ngStorage.js"></script>
  <script src="bower_components/moment-duration-format/lib/moment-duration-format.js"></script>
  <script src="bower_components/angular-filter/dist/angular-filter.js"></script>
  <script src="bower_components/angular-ui-switch/angular-ui-switch.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/main.js"></script>
  <script src="scripts/controllers/nav.js"></script>
  <!-- endbuild -->
</body>

</html>
