<snap-dragger style="width:0;height:0"></snap-dragger>
<div snap-content snap-options="snapOpts" snap-opt-disable="'left'" snap-opt-tap-to-close="!isNotMobile()">
  <div class="map-container">
    <ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options'>
      <ui-gmap-marker coords="userMarker.coords" options="userMarker.options" events="userMarker.events" idkey="'userMarker'"></ui-gmap-marker>
        <ui-gmap-markers models="mapMarkers.pokemon" coords="'coords'" options="'options'" events="'events'" idkey="'id'">
          <!-- <ui-gmap-windows show="show" idkey="'id'" do-rebuild-all="false">
            <div ng-non-bindable>{{title}}</div>
          </ui-gmap-windows> -->
        </ui-gmap-markers>

    </ui-gmap-google-map>
  </div>
</div>
<div snap-drawer="right" class="sidebar" ng-init="activeTabs = 0">
  <uib-tabset active="activeTabs">
    <uib-tab index="0" heading="Areas">
      <div class="row padding-vertical search-box-container">
        <div class="col-xs-12 search-box">
          <div class="form-group has-feedback" style="margin:0">
            <input type="text" class="form-control" ng-model="fuzzySearchValueArea" placeholder="Search" />
            <i class="glyphicon glyphicon-search form-control-feedback"></i>
          </div>
        </div>
      </div>

      <div class="row padding-vertical-plus center-xs middle-xs">
        <div class="col-xs-12" ng-if="hasAdblocker && isNotMobile()">
          <h1 class="text-muted"><i class="fa fa-frown-o"></i></h1>
          <p class="lead text-muted">
            We know ads suck, but it helps us keep PokeMap running. Please consider disabling your ad blocker for this site.
          </p>
        </div>
        <div class="col-xs-12 ad-block">
          <!-- Adsense -->
          <div google-adsense>
            <ins class="adsbygoogle"
                style="display:inline-block;width:234px;height:60px;float:right;"
                data-ad-client="ca-pub-2131940670944575"
                data-ad-slot="1054953974"></ins>
          </div>
        </div>
        <div class="col-xs-12">
          <button class="btn btn-link" ng-click="selectNoAreas()">Unselect All</button>
        </div>
      </div>
      <div class="row padding-vertical start-xs middle-xs">
        <ul class="list-group col-xs-12">
          <li class="list-group-item pokemon-list" ng-repeat="area in areaList | fuzzyFilter:fuzzySearchValueArea:'name' | orderBy:'name'">
            <label>
              <switch id="area-sw-{{$index}}" name="area-sw-{{$index}}" ng-model="area.active" ng-change="redrawAreas(area)" class="green pull-left"></switch>
              <p class="pull-left" style="margin: 5px 5px 0 10px;">
                {{area.name | ucfirst}}
              </p>
            </label>
          </li>
          <hr />
          <li class="list-group-item pokemon-list center-xs middle-xs">
            <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> in Christchurch.
          </li>
        </ul>
      </div>

    </uib-tab>
    <uib-tab index="1" heading="Pokemon">
      <div class="row padding-vertical search-box-container">
        <div class="col-xs-12 search-box">
          <div class="form-group has-feedback" style="margin:0">
            <input type="text" class="form-control" ng-model="fuzzySearchValue" placeholder="Search" />
            <i class="glyphicon glyphicon-search form-control-feedback"></i>
          </div>
        </div>
      </div>
      <div class="row padding-vertical-plus center-xs middle-xs">
        <!-- Banner -->
        <div class="col-xs-12" ng-if="hasAdblocker && isNotMobile()">
          <h1 class="text-muted"><i class="fa fa-frown-o"></i></h1>
          <p class="lead text-muted">
            We know ads suck, but it helps us keep PokeMap running. Please consider disabling your ad blocker for this site.
          </p>
        </div>
        <div class="col-xs-12 ad-block">
          <!-- Adsense -->
            <div google-adsense>

              <ins class="adsbygoogle"
                  style="display:inline-block;width:234px;height:60px;float:right;"
                  data-ad-client="ca-pub-2131940670944575"
                  data-ad-slot="2671287977"></ins>
            </div>
        </div>
        <div class="col-xs-12">
          <div class="btn-group">
            <label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'All'" ng-click="select(true)">Select All</label>
            <label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'None'" ng-click="select(false)">Select None</label>
          </div>
        </div>
      </div>
      <div class="row padding-vertical start-xs middle-xs">
        <ul class="list-group col-xs-12">
          <li class="list-group-item pokemon-list" ng-if="markers.length <=0">
            <label>
              <p class="pull-left pokemon-list-name muted center-xs" style="margin: 5px 5px 0 15px; font-weight: normal">
                There are no pokemon on the map right now. :(
                <br />Have you turned on at least one Area?
              </p>
            </label>
            <span class="badge badge-success pull-right" ng-class="{muted: !pokemon.active}">{{pokemon.count}}</span>
          </li>
          <li class="list-group-item pokemon-list" ng-repeat="pokemon in pokemonList | fuzzyFilter:fuzzySearchValue:'name' | orderBy:'name'">
            <label>
              <switch id="area-sw-{{$index}}" name="area-sw-{{$index}}" ng-model="pokemon.active" ng-change="redrawAreas" class="green pull-left"></switch>
              <p class="pull-left pokemon-list-name" style="margin: 5px 5px 0 15px; font-weight: normal" ng-class="{'muted': !pokemon.active}">
                {{pokemon.name | ucfirst}}
              </p>
            </label>
            <span class="badge badge-success pull-right" ng-class="{muted: !pokemon.active}">{{pokemon.count}}</span>
          </li>
          <hr />
          <li class="list-group-item pokemon-list center-xs middle-xs">
            <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> in Christchurch.
          </li>
        </ul>
      </div>
    </uib-tab>
    <uib-tab index="2" heading="About">
      <div class="row padding-vertical" style="padding-top:25px">
        <div class="col-xs-12">
          <ul class="list-group col-xs-12">
            <li class="list-group-item pokemon-list center-xs middle-xs">
              <p class="lead text-muted">
                PokeMap App
                <br/> {{appConfig.version}}
              </p>
              <p>
                <small>Last Updated <span am-time-ago="appConfig.lastUpdated"></span></small>
              </p>
              <p>
                <button class="btn btn-default" ng-click="clearCache()"><i class="fa fa-asterisk"></i>&nbsp;Clear Cache</button>
              </p>

            </li>
            <li class="list-group-item pokemon-list center-xs middle-xs">
              If you would like to help out, or just want to buy me a beer to say thanks, you can do so using the Paypal donation button below. Thanks for your support in advance!
              <br/>
            </li>
            <li class="list-group-item pokemon-list center-xs middle-xs">
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="2W7UGG6QGZ5HL">
                <button class="btn btn-donate btn-lg"><i class="fa fa-money" type="submit"></i>&nbsp;Donate</button>
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>
            </li>

            <hr />
            <li class="list-group-item pokemon-list center-xs middle-xs text-muted">
              <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> in Christchurch.
            </li>
          </ul>
        </div>
      </div>

    </uib-tab>
  </uib-tabset>

</div>
